/* condicionales */ 

@mixin condicion($colores) {
    background-color: $colores;

    @if $colores == orange{
        border: 1px solid black;
    } @else {
        border: 2px solid pink;
        font-size: 60px;
        background-color: yellow;
    }
}

.boton-uno{
    @include condicion(orange)
}


.boton-dos{
    @include condicion(pink)
}