/* extends */

%botones {
    border: 1px solid black;
    border-radius: 4px;
    padding: 20px;
}

%estilos-principales{
    color: red;
    font-size: 40px;
    margin: 30px;
}

%display-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor{
    background-color: black;
    @extend %display-flex;
}

main{
    background-color: red;
    width: 400px;
    @extend %botones;
    @extend %estilos-principales;
}

footer{
    background-color: yellow;
    width: 600px;
    @extend %botones;
}