/* mixin

@mixin botones {
    width: 300px;
    background-color: red;
    border: 3px solid black;
}

.boton{
    @include botones;
}
 */ 

 @mixin animaciones($transformaciones){
    transform: $transformaciones;
 }

 section{
     @include animaciones(scale(50%))
 }

 @mixin medidas($ancho){
    width: $ancho;
    height: 300px;
  }
 
  .clase1{
    @include medidas(500px);
  }
  .clase2{
    @include medidas(00px);
  }